<!DOCTYPE html>
<html ng-app="quoteBook" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quote Book homeeh</title>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="MainCtrl" class="better-font">

  {{thisAppIsBroken}}

<div class="user-inputs">
  <input ng-model="newQuoteText" type="text" placeholder="What you got to say">
  <input ng-model="newAuthor" type="text" name="name" placeholder="who said it">
  <button ng-click="addData()"type="button" name="add-quote">Add your own</button>
  <div>
    <input ng-model="filterQuotes" type="text" placeholder="filter this yo">
  </div>


</div>
<div class="grid-box">
  <div ng-repeat="quote in quotes track by $index" class="single-box">
    <h3>{{quote.text}}</h3>
    <p>{{quote.author}}</p>
    <button ng-click="removeData(quote.text)" type="button" name="button">I hate this</button>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MainCtrl.js"></script>
  <script src="js/dataService.js"></script>
</body>
</html>
